
/* Estilos Globais */
*{
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--background-color);
    color: #333;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

.main-content {
    background-color: var(--background-color);
    height: 100vh;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0rem !important;
    padding: 0rem !important;
    
}

.container {
    background: linear-gradient(290deg, var(--white) 70%, var(--background-color) 130%) !important;
    padding: 0rem 0rem 2rem 0rem !important;
    box-shadow: 0 0.2rem 0.5rem var(--shadow-color);
    display: flex;
    max-width: 80vw !important; 
    flex-direction: column;
    justify-content: space-between;
    overflow-y: hidden;
    height: 99vh;
    margin: 0rem !important;
}

#data-form {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.container form {
    padding: 2rem;
}

/* Estilo do Título */
.page-title {
    display: flex;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1.5rem;
    width: 100%;
    color: var(--white);
    background: linear-gradient(290deg, var(--primary-blue) 70%, var(--white) 200%) !important;
    height: 6rem;
    text-align: left;
    align-items: center;
    padding-left: 2rem;
    gap: 1.5rem;
}

.page-title i {
    font-size: small;
}

.user-description {
    margin-bottom: 1.5rem;
    width: 50%;
    height: 14rem;
}

.form-description {
    display: flex;
    width: 100%;
    justify-content: space-between !important;
    gap: 2rem;
}

.select {
    margin-bottom: 1.5rem;
    flex: 1;
    height: 3rem;
    margin: 1rem 0rem;
}

.form-control, .form-select {
    width: 100%;
    height: 5rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-size: 1.6rem !important;
    background-color: #eFeFeF !important;
}

.form-control, .form-select:focus {
    outline: none !important;
    border: none !important; /* Remove a borda */
    box-shadow: none !important; /* Remove a sombra (que inclui a borda azul claro) */
    background-color: #eFeFeF !important;
}

textarea.form-control {
    resize: none;
    padding: 2rem;
    width: 100% !important;
    height: 100% !important;
    background-color: #eFeFeF;
    outline: none !important;
    font-size: 1.6rem;
}

textarea.form-control:focus {
    outline: none !important;
    border: none !important; /* Remove a borda */
    box-shadow: none !important; /* Remove a sombra (que inclui a borda azul claro) */
    background-color: #eFeFeF !important;
}

.label {
    font-size: 1.8rem;
    color: var(--primary-blue);
    margin-bottom: 0.5rem;
}

.pro-data {
    display: flex;
    width: 100%;
    gap: 2rem;
    justify-content: space-between;
    margin-bottom: 2rem;
}

#bairro {
    width: 100% !important;
    font-size: 1.8rem;
    background-color: #eFeFeF;
}

#bairro:focus{
    width: 100% !important;
    font-size: 1.8rem;
    background-color: #eFeFeF;
    outline: none !important;
    border: none !important; /* Remove a borda */
    box-shadow: none !important; /* Remove a sombra (que inclui a borda azul claro) */
}

.div-radio {
    
    margin: 0rem;
    height: 5rem !important;
}

.form-radio {
    width: 2rem;
    height: 2rem;
}

.field {
    margin: 0rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.blueButton{
    bottom: 0rem;
    left: 0rem;
    width: 12rem;
    background-color: var(--primary-blue);
    transition: all 0.2s;
    color: var(--white);
    box-shadow: var(--shadow-color);
    padding: 1rem 1rem;
    font-size: 1.2rem;
    border: 0.2rem solid var(--primary-blue);
    cursor: pointer;
    text-decoration: none !important;
    font-size: var(--font-size-s2);
    font-weight: bold;
}

.blueButton:hover{
    background-color: var(--white);
    color: var(--primary-blue);
    width: 12rem;
    box-shadow: var(--shadow-color);
    padding: 1rem 1rem;
    font-size: 1.2rem;
    border: 0.2rem solid var(--primary-blue);
    cursor: pointer;
    text-decoration: none;
    font-size: var(--font-size-s2);
    font-weight: bold;
}

input[type="file"] {
    display: none !important;
}

.editPerfilImg {
    display: flex;
    justify-content: center;
    align-items: center;
}

#perfil-img {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0.2rem 0.2rem var(--white);
    transition: all 0.2s;
}

#perfil-img:hover {
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0.2rem 0.2rem var(--white);
    filter: grayscale(30);
}

#img-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    align-items: center;
    background: linear-gradient(290deg, #eFeFeF 70%, var(--white) 200%) !important;
    width: 31rem;
    height: 14rem;
    align-self: center;
    border-radius: 15rem;
    bottom: 2rem;
    right: 2rem;
    padding: 1rem 2rem;
}

#img-form div h2 {
    font-size: small;
    font-weight:bold;
}

/* Estilo geral do slider */
.range-slider {
    width: 100%;
    margin-top: 10px;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 8px; 
    background: #ccc;
    outline: none;
    opacity: 0.7;
    transition: opacity 0.2s;
    margin: 0;
}

input[type="range"]:hover {
    opacity: 1;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #3D7C89;
    cursor: pointer;
    border: 2px solid #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    position: relative;
}

input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #3D7C89;
    cursor: pointer;
    border: 2px solid #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    position: relative;
}
  


@media (min-width: 768px) {
    .container {
        max-width: 60vw;
        margin-top: 5.5rem !important;
        margin-bottom: 2rem !important;
    }
}

@media (max-width: 767px) {
    body {
        overflow: visible !important;
        height: auto !important;
    }

    .main-content {
        height: auto !important;
    }

    .container {
        margin-top: 5.5rem !important;
        margin-bottom: 2rem !important;
        max-width: 95vw;
        height: auto !important;
    }

    .form-description {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-between !important;
        gap: 2rem;
    }

    .user-description {
        margin-bottom: 1.5rem;
        width: 100%;
        height: 14rem;
    }

    .pro-data {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 2rem;
        justify-content: space-between;
        margin-bottom: 2rem;
    }

    .div-radio {
        display: flex;
        flex-direction: column !important;
        height: 20rem !important;
    }
}
