@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden; /* Remove qualquer scroll horizontal desnecessário */

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.imgPrincipal{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}
.content{
    background: linear-gradient(290deg, var(--white) 80%, var(--shadow-color) 130%) !important;
    width:960px;
    height: 70%;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.content::before{
    content:"";
    position: absolute;
    background: linear-gradient(290deg, var(--primary-blue) 70%, var(--white) 200%) !important;
    width: 40%;
    height: 100%;
    left: 0;
}
.title{
    font-size: 2.4rem;
    font-weight: 900;
}
.title-primary{
    color: #fff;
}
.title-second{
    color: #3D7C89;
}
.description{
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 40px;
}
.description-primary{
    color: #fff;
}
.description-second{
    color: #3D7C89;
}

i {
    font-size: 1.2rem;
    padding-left: 1rem;
}

/*botão escrito "REGISTRAR "*/
.btn-primary{
    background-color: var(--primary-blue) !important;
    transition: all 0.2s !important;
    color: var(--white);
    box-shadow: var(--shadow-color);
    padding: 1rem 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    text-decoration: none !important;
    font-size: var(--font-size-s2);
    font-weight: bold;
    border: 1px solid var(--primary-blue);
}

.btn-primary:hover{
    background-color: var(--white) !important;
    color: var(--primary-blue);
    transition: all 0.2s !important;
    box-shadow: var(--shadow-color);
    padding: 1rem 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    text-decoration: none;
    border: 1px solid var(--primary-blue);
    font-size: var(--font-size-s2);
    font-weight: bold;
}
/*botão escrito "LOGAR"*/
.btn-second{
    background-color: var(--primary-blue) !important;
    transition: all 0.2s !important;
    color: var(--white);
    box-shadow: var(--shadow-color);
    padding: 1rem 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    text-decoration: none !important;
    font-size: var(--font-size-s2);
    font-weight: bold;
    border: 1px solid var(--primary-blue);
}
.btn-second:hover{
    background-color: var(--white) !important;
    color: var(--primary-blue);
    transition: all 0.2s !important;
    box-shadow: var(--shadow-color);
    padding: 1rem 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    text-decoration: none;
    border: 1px solid var(--primary-blue);
    font-size: var(--font-size-s2);
    font-weight: bold;
}

/*botÕES(os dois) do lado azul*/
.btn-blue-side{
    width: 20rem;
    transition: all 0.2s !important;
    color: var(--white);
    box-shadow: var(--shadow-color);
    padding: 1rem 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    text-decoration: none !important;
    font-size: var(--font-size-s2);
    font-weight: bold;
    border: 1px solid var(--white);
}
.btn-blue-side:hover{
    background-color: var(--white) !important;
    color: var(--primary-blue);
    transition: all 0.2s !important;
    box-shadow: var(--shadow-color);
    padding: 1rem 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    text-decoration: none;
    border: 1px solid var(--white);
    font-size: var(--font-size-s2);
    font-weight: bold;
}


.first-content{
    display: flex;


}
.first-content .second-column{
    z-index: 11;
}
.first-column{
    text-align: center;
    width: 40%;
    z-index: 10;
}
.second-column{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.social-media{
    margin: 1rem 0;
}
.link-social-media .item-social-media{
    transition: background-color 0.5s;
}
.link-social-media:hover .item-social-media{
    background-color: #3D7C89;
    color: #fff;
    border-color: #3D7C89;

}
.link-social-media:not(:first-child){
    margin-left: 10px;
}
.form{
    display: flex;
    flex-direction: column;
    width: 55%;
}
.form input{
    height: 35px;
    width: 100%;
    border: none;
    background-color: #ecf0f1;
    border-radius: 10px;
    outline: none;
    margin-left: 4px;
    font-size: 1.5rem;
}
.form-radio{
    max-height: 0.9rem;
    max-width: 20%;
    padding: 5px;
    
}

fieldset p {
    margin: 0rem !important;
    padding: 0rem !important;
    font-size: 1.5rem;
}

input:-webkit-autofill{
    -webkit-box-shadow: 0 0 0 1000px #ecf0f1 inset !important;
    -webkit-text-fill-color: #000 !important;
}
.list-social-media{
    display: flex;
    list-style-type:none ;
}
.item-social-media{
    border: 1px solid #3D7C89;
    border-radius:50% ;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color:#3D7C89 ;
}

.label-input{
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    margin: 10px;
    border-radius: 10px;
}
.icon-modify{
    color: #3D7C89;
    padding: 0px 5px;
}

/*seconde content*/

.second-content{
    position: absolute;
    display: flex;

}
.second-content .first-column{
    order: 2;
    z-index: -1;
}
.second-content .second-column{
    order: 1;
    z-index: -1;
}
.password{
    color: #3D7C89;
    font-size: 1.5rem;
    margin: 15px 0;
    text-align: center;
}
.password::first-letter{
    text-transform:capitalize ;
}

.sign-in-js .first-content .first-column,
.sign-in-js .first-content .second-column{
    z-index: -1;
    position: relative;
    animation: deslocamentoESQ 0.5s;
}



.sign-in-js .second-content .second-column{
    z-index: 11;
}

.sign-in-js .second-content .first-column{
    z-index: 13;
}

.sign-in-js .content::before{
    left:60%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    animation: slidein 0.5s;

    z-index: 12;
}

.sign-up-js .content::before{
    animation: slideou 0.5s;
    z-index: 12;
}

.sign-up-js .second-content .first-column,
.sign-up-in-js .second-content .second-column{
    z-index: -1;
}


.sign-up-js .first-content .second-column{
    z-index: 11;
}

.sign-up-js .first-content .first-column{
    z-index: 13;
}

.sign-up-js .second-content .second-column{
    position: relative;
    z-index: -1;
    animation: deslocamentoDIR 2s;
}
/*animação conteudo*/
@keyframes deslocamentoESQ{
    from{
        left: 0;
        opacity: 0;
        z-index: 12;
    }

    25%{
        left: -80px;
        opacity: 0;
    }

    50%{
        left: -100px;
        opacity: 0;
    }
    to{ 
        left: -110px;
        opacity: 0;
        z-index: -1;
    }
}
@keyframes deslocamentoDIR{
    from{
        left: 0;
        opacity: 0;
        z-index: 12;
    }

    25%{
        left: 80px;
        opacity: 0;
    }

    50%{
        left: 100px;
        opacity: 0;

    }
    to{ 
        left: 110px;
        opacity: 0;
        z-index: -1;
    }
}

@keyframes slidein {

    from {
        left: 0;
        width: 40%;
    }

    25%{
        left: 5%;
        width: 50%;
    }
    50%{
        left: 25%;
        width: 60%;
    }
    75%{
        left: 45%;
        width: 50%;
    }
    to {
        left: 60%;
        width: 40%;
    }
}
@keyframes slideou {

    from {
        left: 60%;
        width: 40%;
    }

    25%{
        left: 45%;
        width: 50%;
    }
    50%{
        left: 35%;
        width: 60%;

    }
    75%{
        left: 5%;
        width: 50%;
    }
    to {
        left: 0%;
        width: 40%;

    }
}

/* VERSÃO MOBILE */
@media screen and (max-width: 1070px){
    .content{
        height: 80%;
    }
    img{
        width: 100%;
        height: 100%;
    }
    body{
        width: 100%;
        height: 100%;
        z-index: -1;
    }
}

@media screen and (max-width: 1040px){
    .content{
        width: 100%;
        height: 100%;
    }
    .content::before{
        width: 100%;
        height: 40%;
        top: 0;
        border-radius: 0; 
    }
    .first-content, .second-content{
        flex-direction: column;
        justify-content: space-around;
    }

    .first-column .second-column{
        width: 100%;
    }

    .sign-in-js .content::before{
        top: 60%;
        left: 0;
        border-radius: 0;
    }
    .form{
        width: 90%;
    }
    img{
        display: none;
    }
    /*animação Mobile*/

    @keyframes deslocamentoESQ{
        from{
            top: 0;
            opacity: 1;
            z-index: 12;
        }
    
        25%{
            top: -80px;
            opacity: .5;
        }
    
        50%{
            top: -100px;
            opacity: 0.2;
        }
        to{ 
            top: -110px;
            opacity: 0;
            z-index: -1;
        }
    }
    @keyframes deslocamentoDIR{
        from{
            top: 0;
     
            z-index: 12;
        }
    
        25%{
            top: 80px;
    
        }
    
        50%{
            top: 100px;
    
    
        }
        to{ 
            top: 110px;
            opacity: 0;
            z-index: -1;
        }
    }


    
    @keyframes slidein {
    
        from {
            top: 0;
            height: 40%;
        }
    
        25%{
            top: 5%;
            height: 50%;
        }
        50%{
            top: 25%;
            height: 60%;
        }
        75%{
            top: 45%;
            height: 50%;
        }
        to {
            top: 60%;
            height: 40%;
        }
    }
    @keyframes slideou {
    
        from {
            top: 60%;
            height: 40%;
        }
    
        25%{
            top: 45%;
            height: 50%;
        }
        50%{
            top: 25%;
            height: 60%;
    
        }
        75%{
            top: 5%;
            height: 50%;
        }
        to {
            top: 0%;
            height: 40%;
        }
    }
}

@media screen and (max-width: 740px){
    .form{
        width: 50%;
        border-radius: 0;
    }
    img{
        display: none;
    }

}
@media screen and (max-width: 425px){
    .form{
        width: 100%;
        
    }


   img{
       display: none;
   }
}

/* Estilos para Tablets */
@media (max-width: 768px) {
    .sidebar {
        width: 100%; /* Largura da sidebar ao ocupar a largura total da tela */
        height: auto; /* Ajusta a altura para acomodar o conteúdo */
        top: 0;
        left: 0;
        position: relative; /* Muda para relativo para flutuar no topo */
        display: flex;
        flex-direction: column;
        align-items: center; /* Centraliza os itens na sidebar */
    }

    .sidebar:hover {
        width: 100%; /* Expande para a largura total */
    }

    .main-content {
        margin-left: 0; /* Remove a margem esquerda em telas menores */
        margin-top: 80px; /* Adiciona margem superior para acomodar a sidebar no topo */
    }

    .sidebar-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* Responsividade para celulares menores */
@media (max-width: 350px) {
    .sidebar {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .sidebar:hover {
        width: 100%;
    }

    .main-content {
        margin-left: 0;
        margin-top: 70px;
    }
}

.bg-info {
    background-color: var(--primary-blue) !important;
}

.fs-6 {
    font-size: 1.4em !important;
}

.h-75 {
    min-height: 95%;
}

.form-select {
    margin-left: 8px !important;
    font-size: 1.8rem;
}

.w-0 {
    max-width: 95% !important;
}

.h-0 {
    height: 20% !important;
}



