
body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color) !important; 
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
    font-size: 62.5%;
}

.container-fluid {
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    
}

.row {
    width: 100%;
    display: flex;
    justify-content: center; 
    padding-left: 1rem;
}

.main-content {
    max-width: 118.2rem !important;
    width: 100%;
    background-color: var(--white);
    box-shadow: 0 0.2rem 0.5rem var(--shadow-color);
    padding-top: 0rem !important;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0rem !important;
}

.titulo-linkedin {
    font-size: 2rem;
    font-weight: 600;
    color: #0073b1;
    text-align: center;
    margin-bottom: 20px;
}

.employee-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    justify-items: center;
    width: 100%;
    max-width: 144rem !important;
}

.card {
    background-color: #dfe1e5;
    border: 1px solid #dfe1e5; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
    overflow: hidden;
    width: 100%;
    max-width: 350px;
    height: 20rem !important;
    padding: 20px; 
    text-decoration: none !important;
}

.card:hover {
    transform: scale(1.03); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.card-body {
    display: flex;
    align-items: center;
}

.profile-img, .profile-img2 {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

.card-text-container {
    flex-grow: 1;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin: 0;
    color: #0073b1;
}

.card-text {
    font-size: 0.875rem;
    color: #666;
    margin: 5px 0;
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}


.header-title {
    position: absolute;
    display: flex;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1.5rem;
    width: 100%;
    color: var(--white);
    background: linear-gradient(290deg, var(--primary-blue) 70%, var(--white) 200%) !important;
    height: 6rem;
    text-align: left;
    align-items: center;
    padding-left: 2rem;
    gap: 1.5rem;
}

.search-container {
    width: 100%;
    padding: 0rem 1.2rem;
    max-width: 120rem;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 8rem;
}

#searchFilter {
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px; 
    border: 1px solid #666; 
    outline: none;
    background-color: var(--primary-blue); 
    cursor: pointer;
    color: var(--white);
    font-weight: bold;
    border: none;
    transition: border-color 0.3s ease;
    font-size: 1.6rem;
}

#searchInput {
    width: 100%;
    padding: 12px 20px;
    border: 1px solid #666; 
    border-radius: 5px; 
    font-size: 1rem;
    background-color: #eFeFeF; 
    outline: none;
    transition: border-color 0.3s ease;
    outline: none !important;
    border: none !important; 
    box-shadow: none !important;
    font-size: 1.6rem;
}

#searchInput:focus, 
#searchFilter:focus {
    border-color: #666;
}

#searchFilter:focus {
    border-color: #666; 
}


.modal-body p {
    font-size: 0.875rem;
}

.modal-title {
    color: #0073b1;
}

#btnFecharModal {
    background-color: #0073b1;
    color: white;
}

#btnFecharModal:hover {
    background-color: #005582;
}

@media (max-width: 1200px) {
    .employee-container {
        grid-template-columns: repeat(3, 1fr);
        max-width: 100%; 
    }
}

@media (max-width: 992px) {

    .employee-container {
        grid-template-columns: repeat(2, 1fr); 
    }

    .card {
        max-width: 320px; 
        padding: 15px; 
    }
}

@media (max-width: 768px) {
    .employee-container {
        grid-template-columns: repeat(2, 1fr);
        max-width: 100%;
    }

    .card {
        max-width: 100%; 
        padding: 15px; 
    }
}

@media (max-width: 576px) {
    .employee-container {
        grid-template-columns: 1fr; 
        max-width: 100%;
    }

    .card {
        max-width: 100%;
        padding: 10px; 
    }
}
