@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    font-size: 62.5%;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 7rem;
    height: 100vh;
    overflow-x: hidden;
    background: linear-gradient(290deg, var(--primary-blue) 70%, var(--white) 200%) !important;
    border-right: 0.1rem solid var(--white);
    transition: width 0.3s ease; /* Suavidade na transição de largura */
}

.sidebar:hover {
    width: 20rem;
}

.sidebar-content .nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo {
    width: 5rem;
    height: 5rem;
    align-self: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.sidebar-text-logo {
    display: inline-block;
    color: var(--white);
    font-size: 2.2rem;
    font-weight: bold;
    opacity: 1;
    transition: opacity 0.3s ease-in;
}

.sidebar .sidebar-text-logo {
    font-size: 2rem;
    opacity: 0;
}

.sidebar:hover .sidebar-text-logo {
    opacity: 1;
    justify-content: center;
}

.nav-item {
    display: flex;
    align-items: center;
}

.nav-link {
    display: flex;
    align-items: center;
    color: var(--white);
    text-decoration: none;
    width: 100%;
    padding: 1.5rem 1.5rem;
}

.nav-link:hover {
    color: var(--white);
    background-color: #ffffff31;
    background: linear-gradient(290deg, #ffffff31 60%, #ffffffc9 200%) !important;
    border-radius: 0.2rem;
}

.nav-link i {
    font-size: 2rem;
    margin-right: 1rem;
}

.sidebar-text {
    display: inline-block;
    font-size: 1.2rem;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.3s;
}

.sidebar:hover .sidebar-text {
    opacity: 1;
}

.main-content {
    margin-left: 8rem;
    padding: 2rem;
    transition: margin-left 0.4s ease;
}

.sidebar:hover + .main-content {
    margin-left: 20rem;
}

/* Modal de Logout*/
#leave-modal {
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--shadow-color);
    
}
    
#modal-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top: 2rem solid var(--primary-blue);
    background-color: var(--white);
    padding: 2rem;
    width: 50rem;
    height: 30rem;
}

#modal-content p {
    font-size: var(--font-size-s3);
    text-align: justify;
    background-color: #ffdadac9;
    border: 0.1rem solid #fc5454c9;
    border-right: 0.5rem solid #fc5454c9;
    padding: 1rem;
    font-weight: bold;
    color: var(--background-dark-color);
}

#wrapper-button {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#wrapper-button button {
    width: 49%;
}


@media (min-width: 0) and (max-width: 1024px) {
    .sidebar {
        flex-direction: row;
        top: 0;
        left: 0;
        z-index: 100;
        width: 100vw !important;
        height: 5rem !important;
        margin-left: 0;
        overflow-y: hidden;
        background: linear-gradient(220deg,  var(--primary-blue) 70%, var(--white) 200%) !important;
        justify-content: flex-start;
        border-bottom: 0.1rem solid var(--white);
        transition: all 0.3s;
    }

    .logo {
        width: 4rem;
        height: 4rem;
        margin-top: 0.4rem;
        margin-right: 0.5rem;
        align-self: center;
    }
    .sidebar:hover {
        width: 100vw; /* Sidebar expande horizontalmente */
    }


    .settings {
        margin-top: 0.4rem;
    }

    .sidebar-text-logo {
        display: none;
        font-size: 2.2rem;
        color: var(--white);
        font-weight: bold;
        opacity: 1;
        transition: opacity 0.3s ease-in;
    }

    .sidebar .sidebar-text-logo {
        font-size: 2rem;
        opacity: 0;
    }

    .sidebar:hover .sidebar-text-logo {
        opacity: 0;
        justify-content: center;
    }

    .nav-link .settings {
        position: absolute;
        top: 1.5rem;
        right: 1rem;
    }

    .sidebar-content .nav {
        display: flex;
        flex-direction: column;
        gap: 0rem;
        height: 5rem;
    }

    .sidebar-content {
        display: flex;
    }

    .nav-link {
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--white);
        font-size: 1rem;
        text-decoration: none;
        margin-bottom: 1.5rem;
        transition: all 0.2s;
        gap: 0rem;
    }

    .nav-link:hover {
        color: var(--white);
        background-color: #FFFFFF00;
        border-radius: 0px;
    }

    .nav-link i {
        font-size: 1.5rem;
        margin-right: 1rem;
    }

    .sidebar .sidebar-text {
        display: inline-block;
        font-weight: bold;
        opacity: 1;
    }

    .sidebar-content ul {
        display: flex;
        flex-direction: row !important;
        align-items: center;
        overflow-y: hidden !important;
        gap: 0.2rem;
    }
    .sidebar-content .nav {
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }

    .main-content {
        margin-left: 0; /* Remove o espaçamento lateral em dispositivos móveis */
        padding: 1rem; /* Ajuste o padding geral para manter espaçamento do conteúdo */
        padding-right: 1.5rem; /* Adiciona espaçamento à direita para evitar que os cards grudem */
        padding-left: 1.5rem; /* Alinhamento próximo à esquerda */
        padding-top: 5rem; /* Ajusta o conteúdo para não ficar escondido sob a sidebar */
    }


    .container-cards {
        display: flex;
        flex-direction: column; /* Organiza os cards verticalmente */
        gap: 1rem; /* Espaçamento entre os cards */
        width: 100%; /* Faz os cards ocuparem toda a largura disponível */
    }
}

