:root {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    /* Padroniza o font size para 10px = 1rem */
    font-size: 62.5%;

    /* Cores principais */
    --primary-blue: #3D7C89;
  
    /* Cores de texto */
    --text-color-black: #000;
    --text-color-black: #fff;
  
    /* Cores de fundo */
    --background-color: #e0e0e0;
    --background-dark-color: #363636;
  
    /* Outros */
    --shadow-color: #0000004d;
  
    /* Espaçamentos */
    --spacing-small: 8px;
    --spacing-medium: 16px;
    --spacing-large: 24px;
  
    /* Fontes */
    --font-family: 'Arial', sans-serif;
    --font-size-small: 12px;
    --font-size-medium: 16px;
    --font-size-large: 24px;
  }