@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    font-family: 'Open Sans', sans-serif;
    /* Padroniza o font size para 10px = 1rem */
    font-size: 62.5%;

    /* Cores principais */
    --primary-blue: #3D7C89;
    --secondary-blue: #2C3E50;
  
    --primary-red: #fc5454;
    --black: #000;
    --white: #fff;
  
    /* Cores de fundo */
    --background-color: #e0e0e0;
    --background-dark-color: #363636;
  
    /* Outros */
    --shadow-color: #0000004d;
    --light-shadow-color: #00000048;
  
    /* Espaçamentos */
    --spacing-small: 8px;
    --spacing-medium: 16px;
    --spacing-large: 24px;
  
    /* Fontes */
    --font-family: 'Arial', sans-serif;

    --font-size-s1: 10px;
    --font-size-s2: 12px;
    --font-size-s3: 14px;

    --font-size-m1: 16px;
    --font-size-m2: 18px;
    --font-size-m3: 20px;

    --font-size-l1: 22px;
    --font-size-l2: 24px;
    --font-size-l3: 26px;
  }

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.red-button{
  bottom: 0rem;
  left: 0rem;
  background-color: var(--primary-red);
  color: var(--white);
  box-shadow: var(--shadow-color);
  padding: 1rem 1rem;
  font-size: 1.2rem;
  border: 0.2rem solid var(--primary-red);
  cursor: pointer;
  text-decoration: none !important;
  font-size: var(--font-size-s2);
  font-weight: bold;
}

.red-button:hover{
  background-color: var(--white);
  color: var(--primary-red);
  box-shadow: var(--shadow-color);
  padding: 1rem 1rem;
  font-size: 1.2rem;
  border: 0.2rem solid var(--primary-red);
  cursor: pointer;
  text-decoration: none;
  font-size: var(--font-size-s2);
  font-weight: bold;
}

.blue-button{
  bottom: 0rem;
  left: 0rem;
  background-color: var(--primary-blue);
  color: var(--white);
  box-shadow: var(--shadow-color);
  padding: 1rem 1rem;
  font-size: 1.2rem;
  border: 0.2rem solid var(--primary-blue);
  cursor: pointer;
  text-decoration: none !important;
  font-size: var(--font-size-s2);
  font-weight: bold;
}

.blue-button:hover{
  background-color: var(--white);
  color: var(--primary-blue);
  box-shadow: var(--shadow-color);
  padding: 1rem 1rem;
  font-size: 1.2rem;
  border: 0.2rem solid var(--primary-blue);
  cursor: pointer;
  text-decoration: none;
  font-size: var(--font-size-s2);
  font-weight: bold;
}